.overlay {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 100;
}

.overlay--first {
    z-index: 116;
}

.overlay--second {
    z-index: 110;
}

.overlay--fourth {
    z-index: 98;
}


.img-deco {
    position: absolute;
    max-width: 300px;
    transition: all .3s ease-out;
    z-index: 200;
}

.img-deco-m {
    max-width: 250px;
}

.img-deco-s {
    max-width: 120px;
}

.img-deco-xs {
    max-width: 80px;
}

/* white top flower */
.img-deco-a {
    top: -5%;
    left: -5%;
}

/* red left flower */
.img-deco-b {
    top: 50%;
    left: -2%;
}

/* jirafa */
.img-deco-c {
    bottom: 0%;
    left: 10%;
    z-index: 110;
}

/* pajaro central */
.img-deco-d {
    top: 4%;
    left: 32%;
    z-index: 205;
}

/* flor roja */
.img-deco-e {
    top: 60%;
    left: 40%;
}

/* zebra */
.img-deco-f {
    top: 62%;
    left: 56%;
    z-index: 99;
}

/* avestruz */
.img-deco-g {
    top: 76%;
    left: 69%;
    z-index: 100;
}

/* avestruz 2 */
.img-deco-h {
    top: 74%;
    left: 60%;
    z-index: 100;
}

/* avestruz 3 */
.img-deco-i {
    top: 79%;
    left: 63%;
    z-index: 100;
}

/* flor roja 3 */
.img-deco-j {
    top: 5%;
    left: 67%;
}

/* flor blanca 3 */
.img-deco-k {
    bottom: 0%;
    left: 71%;
}

/* rama */
.img-deco-l {
    top: -5%;
    right: 11%;
}

/* pajaro */
.img-deco-n {
    top: 38%;
    left: 86%;
}

/* pajaro */
.img-deco-p {
    bottom: 2%;
    left: 25%;
}

@media all and (max-width: 998px) {
    .img-deco {
        max-width: 120px;
    }
    
    .img-deco-m {
        max-width: 200px;
    }
    
    .img-deco-s {
        max-width: 80px;
    }
    
    .img-deco-xs {
        max-width: 60px;
    }
}

@media all and (max-width: 600px) {
    .img-deco {
        max-width: 200px;
    }
    
    .img-deco-m {
        max-width: 180px;
    }

    
    .img-deco-a, .img-deco-b, .img-deco-e, .img-deco-i, .img-deco-f, .img-deco-l {
        display: none;
    }

    .img-deco-d {
        left: -3%;
        top: 0;
    }

    .img-deco-j {
        top: -1%;
        right: -10%;
        left: auto;
        max-width: 120px;
    }

    .img-deco-k {
        max-width: 100px;
        bottom: 0;
        right: -1%;
    }

    .img-deco-c {
        bottom: 5%;
        left: -10%;
        z-index: 117;
    }

    .img-deco-n {
        top: 68%;
        right: -4%;
        left: auto;
        max-width: 120px;
    }

    .img-deco-h, .img-deco-g {
        max-width: 60px;
    }

    .img-deco-h {
        top: 54%;
    }

    .img-deco-g {
        top: 58%;
    }

    .img-deco-p {
        bottom: 0;
        left: 0;
        max-width: 100px;
    }

    .overlay--third {
        z-index: 116;
    }
}

@media all and (max-width: 400px) {

    .img-dec-c {
        max-width: 170px;
    }
}